header[role="banner"] {
  background: rgba(0,0,0,.05);
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: .5em 0 1em;
}

.logo {
  max-width: 200px;
  display: block;
  float: left;
}

nav {
  float: right;
}

.row {
  @extend %clearfix;
  padding: 2em 0;
}

.container {
  @extend %clearfix;
  margin: 0 auto;
  width: 94%;
  max-width: 50em;
}


@include breakpoint(small) {
  .onehalf {
    width: 47.5%;
    float: left;
    margin-right: 5%;
  }

  .onethird {
    width: 30%;
    float: left;
    margin-right: 5%;
  }

  .twothirds {
    width: 65%;
    float: left;
    margin-right: 5%;
  }

  .last {
    margin-right: 0;
  }
}

/*! suit-flex-embed v1.4.0 | MIT License | github.com/suitcss */

.crop {
  display: block;
  overflow: hidden;
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff8300;
  opacity: .25;
  &:before {
    content: "";
    display: block;
    width: 100%;
    //padding-bottom: 56.25% //16x9
    padding-bottom: 75%;
  }
}
